<resume>
    <h1>COVID 19</h1>
      <h4 style = "width:100%">{ state.date }</h4>
      <br>
      <div style="float:left;width:75%;">
        <h2>Total</h2>
        <ul>
          <li>Cas : { state.covidedGlobal }</li>
          <li>Morts : { state.deathGlobal }</li>
          <li>Guéris : { state.healedGlobal }</li>
        </ul>
      </div>
      <div style="float:left;width:25%;">
        <h2>Aujourd'hui</h2>
        <ul>
          <li>Cas : { state.covidedToday }</li>
          <li>Morts : { state.deathToday }</li>
          <li>Guéris : { state.healedToday }</li>
        </ul>
      </div>

    <script>
      var url = "https://api.covid19api.com/summary";
      
  
      

      export default {
        onBeforeMount(props, state) {
          let data;
          /*
          $.getJSON(url, function(data) {
            information = data;
            //data is the JSON string
              console.log(data.Date);
              var Vdate = new Date(data.Date);
              dateslash = Vdate.getDate() + "/" + Vdate.getMonth() + "/" + Vdate.getFullYear();
              console.log(dateslash);
              
              
          });*/
          $.getJSON(url, function (res) {data = res; console.log(res);});
          console.log(data);
          //var Vdate = new Date(data.Date);
          //var dateslash = Vdate.getDate() + "/" + Vdate.getMonth() + "/" + Vdate.getFullYear();
          //console.log(dateslash);

          var date2 = '2/6/2020'
          this.state = {
                date: date2,
                covidedGlobal:0,
                deathGlobal:0,
                healedGlobal:0,
                covidedToday:0,
                deathToday:0,
                healedToday:0,
          }
          
        }
      }
    </script>
</resume>
