<resume>
    <h4>{ state.date }</h4>
    <br>
    <div>
        <h2>Total</h2>
        <ul>
            <li>Cas : { state.covidedGlobal }</li>
            <li>Morts : { state.deathGlobal }</li>
            <li>Guéris : { state.healedGlobal }</li>
        </ul>
        <h2>Aujourd'hui</h2>
        <ul>
            <li>Cas : { state.covidedToday }</li>
            <li>Morts : { state.deathToday }</li>
            <li>Guéris : { state.healedToday }</li>
        </ul>
    </div>

    <script>

        function formatInt(number) {
            return new Intl.NumberFormat().format(number)
        }

        export default {
            onBeforeMount(props, state) {
                this.state.date = "01/01/1997"
                this.state.covidedGlobal = 0
                this.state.deathGlobal = 0
                this.state.healedGlobal = 0
                this.state.covidedToday = 0
                this.state.deathToday = 0
                this.state.healedToday = 0

            },
            onMounted(props, state) {

                let settings = {
                    "url": "https://api.covid19api.com/summary",
                    "method": "GET",
                    "timeout": 0,
                };
                let pointer = this

                $.ajax(settings).done(function (response) {
                    console.log(response)
                    let date2 = new Date(response.Date)
                    pointer.update({
                        date: date2,
                        covidedGlobal: formatInt(response.Global.TotalConfirmed),
                        deathGlobal: formatInt(response.Global.TotalDeaths),
                        healedGlobal: formatInt(response.Global.TotalRecovered),
                        covidedToday: formatInt(response.Global.NewConfirmed),
                        deathToday: formatInt(response.Global.NewDeaths),
                        healedToday: formatInt(response.Global.NewRecovered)
                    })
                });
            }
        }
    </script>
</resume>
