<app>
    <router base={base}>
        <navbar/>
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="col-2 position-fixed" style="padding-left: 0">
                <leftbar/>
            </div>
            <div class="col offset-2 pt-3">
                <route path="#/infos(.*)">
                    <infoplus contenu={ state.global }/>
                    <tablecountry contenu={ state.pays}/>
                </route>
                <route path="#/map(.*)">
                    <mapchart/>
                </route>

            </div>
        </div>
    </router>

    <script>
        const loc = window.location
        export default {
            state: {
                global: null,
                pays: null
            },
            base: `${loc.protocol}//${loc.host}${loc.pathname ? loc.pathname : ''}`,
            onBeforeMount(props, state) {
                state.global = ({
                    date: "NULL",
                })
                state.pays = ({
                    listpays: "NULL",
                })
                //Creation & update localDB
                if (!dbCovidExist()) {
                    createDBCovid();
                    console.log("Base de donnée créé !")
                } else if (diffTime()) {
                    updateDBCovid();
                    console.log("Base de donnée Update !")
                }
                console.log("Fini !");


            }, onMounted(props, state) {

                

                let formatDate = selectTime();
                let globalStat = selectGlobal();
                let countriesStat = selectCountries();

                console.log(countriesStat)

                state.global = ({
                    date: formatDate,
                    covidedGlobal: formatInt(globalStat.TotalConfirmed),
                    deathGlobal: formatInt(globalStat.TotalDeaths),
                    healedGlobal: formatInt(globalStat.TotalRecovered),
                    covidedToday: formatInt(globalStat.NewConfirmed),
                    deathToday: formatInt(globalStat.NewDeaths),
                    healedToday: formatInt(globalStat.NewRecovered)
                })

                state.pays = ({
                    listpays: countriesStat
                })
                this.update()
            }
        }
    </script>

</app>