<graphcoutry>
    <div id="chartdiv"></div>
    <script>
        export default {
            onMounted(props, state) {
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    let chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.logo.disabled = true;

                    chart.data = props.contenu.data

                    chart.dateFormatter.inputDateFormat = "yyyy";
                    let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.minGridDistance = 60;
                    dateAxis.startLocation = 0.5;
                    dateAxis.endLocation = 0.5;
                    dateAxis.baseInterval = {
                        timeUnit: "year",
                        count: 1
                    }

                    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.tooltip.disabled = true;

                    let series = chart.series.push(new am4charts.LineSeries());
                    series.name = "Guéris";
                    series.dataFields.dateX = "year";
                    series.dataFields.valueY = "Guéris";
                    series.tooltipHTML = "<i class='fas fa-clinic-medical' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px; color:#009432;'></i><span style='font-size:14px; color:#000;'><b>{valueY.value}</b></span>";
                    series.tooltipText = "[#000]{valueY.value}[/]";
                    series.tooltip.background.fill = am4core.color("#FFF");
                    series.tooltip.getStrokeFromObject = true;
                    series.tooltip.background.strokeWidth = 3;
                    series.tooltip.getFillFromObject = false;
                    series.fillOpacity = 0.6;
                    series.strokeWidth = 2;
                    series.stacked = false;

                    let series2 = chart.series.push(new am4charts.LineSeries());
                    series2.name = "Cas";
                    series2.dataFields.dateX = "year";
                    series2.dataFields.valueY = "Cas";
                    series2.tooltipHTML = "<i class='fas fa-lungs-virus' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px; color:#0652DD;'></i><span style='font-size:14px; color:#000;'><b>{valueY.value}</b></span>";
                    series2.tooltipText = "[#000]{valueY.value}[/]";
                    series2.tooltip.background.fill = am4core.color("#FFF");
                    series2.tooltip.getFillFromObject = false;
                    series2.tooltip.getStrokeFromObject = true;
                    series2.tooltip.background.strokeWidth = 3;
                    series2.sequencedInterpolation = true;
                    series2.fillOpacity = 0.6;
                    series2.stacked = false;
                    series2.strokeWidth = 2;

                    let series3 = chart.series.push(new am4charts.LineSeries());
                    series3.name = "Morts";
                    series3.dataFields.dateX = "year";
                    series3.dataFields.valueY = "Morts";
                    series3.tooltipHTML = "<i class='fas fa-skull-crossbones' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px; color:#EA2027;'></i><span style='font-size:14px; color:#000;'><b>{valueY.value}</b></span>";
                    series3.tooltipText = "[#000]{valueY.value}[/]";
                    series3.tooltip.background.fill = am4core.color("#FFF");
                    series3.tooltip.getFillFromObject = false;
                    series3.tooltip.getStrokeFromObject = true;
                    series3.tooltip.background.strokeWidth = 3;
                    series3.sequencedInterpolation = true;
                    series3.fillOpacity = 0.6;
                    series3.defaultState.transitionDuration = 1000;
                    series3.stacked = false;
                    series3.strokeWidth = 2;

                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.xAxis = dateAxis;
                    chart.scrollbarX = new am4core.Scrollbar();

                    // Add a legend
                    chart.legend = new am4charts.Legend();
                    chart.legend.position = "top";

                });
            },
            onUnmounted(props, state) {
                am4core.disposeAllCharts();
            }
        }
    </script>
</graphcoutry>