<home>
    <div style="min-height: 100%; display: flex; align-items: center;">
        <div class="container text-center my-auto" style="height: 100%">
            <h1 class="mb-1">Projet - Covid19</h1>
            <h3 class="mb-5">
                <em>Maxime Pierront & Félix Legrelle</em>
            </h3>
            <a class="btn btn-primary btn-xl" href="https://dwarves.iut-fbleau.fr/git/legrelle/covid19" target="_blank"><i class="fas fa-users-cog" style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'></i>Git du projet</a>
        </div>
        <div class="overlay"></div>
    </div>
</home>