<infoplus>
    <h4>{ props.contenu.date }</h4>
    <br>
    <div class="row">
        <div class="col">
            <h2>Total</h2>
            <ul>
                <li>Cas : { props.contenu.covidedGlobal }</li>
                <li>Morts : { props.contenu.deathGlobal }</li>
                <li>Guéris : { props.contenu.healedGlobal }</li>
            </ul>
        </div>
        <div class="col">
            <h2>Aujourd'hui</h2>
            <ul>
                <li>Cas : { props.contenu.covidedToday }</li>
                <li>Morts : { props.contenu.deathToday }</li>
                <li>Guéris : { props.contenu.healedToday }</li>
            </ul>
        </div>
    </div>
</infoplus>
