<leftbar>
    <nav id="sidebarMenu" class="bg-light sidebar" style="height: calc(100vh - 56px)">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <i class="fas fa-home"/>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <i class="fas fa-map-marked-alt"/>
                        Map
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</leftbar>