<mapchart>
    <div id="chartdiv"></div>

    <script>
        export default {
            onMounted(props, state) {

                // Create map instance
                let chart = am4core.create("chartdiv", am4maps.MapChart);

                chart.logo.disabled = true;

                chart.panBehavior = "none";
                chart.events.on("zoomlevelchanged", function(){
                    // queue event loop so a final zoomlevelchanged can be "cauight"
                    setTimeout(
                        function() {
                            if (chart.zoomLevel <= 2) {
                                chart.panBehavior = "none";
                            } else if (chart.zoomLevel > 2) {
                                chart.panBehavior = "move";
                            }
                        }, 0);
                });

                // Set map definition
                chart.geodata = am4geodata_worldLow;

                // Set projection
                chart.projection = new am4maps.projections.Miller();

                // Create map polygon series
                let polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

                // Make map load polygon (like country names) data from GeoJSON
                polygonSeries.useGeodata = true;

                // Add some custom data
                polygonSeries.data = props.contenu.countrieslist

                // Configure series
                let polygonTemplate = polygonSeries.mapPolygons.template;
                polygonTemplate.tooltipText = "{name}";
                polygonTemplate.fill = am4core.color("#343a40");
                polygonTemplate.propertyFields.fill = "color";
                polygonTemplate.events.on("hit", function (ev) {
                    let data = ev.target.dataItem.dataContext;
                    alert(data.name + " (" + data.id + ")")
                });

                // Create hover state and set alternative fill color
                let hs = polygonTemplate.states.create("hover");
                hs.properties.fill = am4core.color("#004da8");

                /* Add legend */
                let legend = new am4maps.Legend();
                legend.parent = chart.chartContainer;
                legend.background.fill = am4core.color("#000");
                legend.background.fillOpacity = 0.05;
                legend.width = 120;
                legend.position = "left";
                legend.valign = "bottom";
                legend.padding(10, 15, 10, 15);
                legend.data = [{
                    "name": "Sans données",
                    "fill":"#343a40"
                }, {
                    "name": "Avec données",
                    "fill": "#488BB2"
                }];
                legend.itemContainers.template.clickable = false;
                legend.itemContainers.template.focusable = false;

                let legendTitle = legend.createChild(am4core.Label);
                legendTitle.text = "Légende:";


                // Create a zoom control
                let zoomControl = new am4maps.ZoomControl();
                chart.zoomControl = zoomControl;
                zoomControl.slider.height = 100;

                // Add button to zoom out
                let home = chart.chartContainer.createChild(am4core.Button);
                home.label.text = "Centrer";
                home.align = "right";
                home.events.on("hit", function () {
                    chart.goHome();
                });
            },onUnmounted(props, state) {
                am4core.disposeAllCharts();
            }
        }
    </script>
</mapchart>