<navbar>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
        <a class="navbar-brand col-sm-2" href="#">Covid19</a>
        <input class="form-control form-control-dark" type="text" placeholder="Pays" aria-label="pays">
    </nav>
</navbar>