<navbar>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
        <a class="navbar-brand col-sm-2" href="#">
            <route path="(#|)">
                Covid19
            </route>
            <route path="#/:id/(.*)?">
                Covid19 - { getHelpText(route) }
            </route>
        </a>
        <route path="#/:id/(.*)?">
            <input class="form-control form-control-dark" type="text" placeholder="Pays" aria-label="pays">
        </route>
    </nav>
    <script>
        export default {
            state: {
                data: {
                    infos: "Infos",
                    map: "Map"
                }
            },
            getHelpText(route) {
                const [id] = route.params
                return this.state.data[id]
            }
        }
    </script>
</navbar>