<tablecountry>
        <h2>Liste des pays</h2>
        <div class="table-responsive">
            <table class="table table-hover" style="width: 100%;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pays</th>
                    <th scope="col">Cas</th>
                    <th scope="col">Gueris</th>
                    <th scope="col">Morts</th>
                    <th scope="col">Cas Total</th>
                    <th scope="col">Guéris Total</th>
                    <th scope="col">Morts Total</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    <script>
        export default {
            onMounted(props, state) {
                for (let numPays in props.contenu.listpays) {
                    let line = props.contenu.listpays[numPays]
                    let cell= "<th>"+line.Country+"</th>"
                        + "<td>"+formatInt(line.NewConfirmed)+"</td>"
                        + "<td>"+formatInt(line.NewRecovered)+"</td>"
                        + "<td>"+formatInt(line.NewDeaths)+"</td>"
                        + "<td>"+formatInt(line.TotalConfirmed)+"</td>"
                        + "<td>"+formatInt(line.TotalRecovered)+"</td>"
                        + "<td>"+formatInt(line.TotalDeaths)+"</td>"
                    $('table').find('tbody').append("<tr>"+cell+"</tr>");
                }
            }
        }
    </script>
</tablecountry>